@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(185, 181, 181);
    height: 100vh;
    width: 100vw;
}


.header {
    background-color: gray;
    color: white;
    padding: 10px;
    
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    
}



.header > h1 {
    text-align: left;
    flex: 0 0 200px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);
}




.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}




.nav > a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    transition: background-color ease-in-out, transform 0.3s ease-in-out;
}



.nav > a:hover {
    background-color: rgb(58, 56, 56);
    color: white;
}



.nav > a:not(:hover) {
    background-color: black;
    transition: background-color ease-in-out, transform 0.6s ease-in-out;
}




.main-content {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.432);
    
}


.main-content > h1 {

}



.main-content > p {
    text-align: justify;
    text-indent: 20px;
    padding-top: 10px;
}