/*
======================================================================
REGRAS DE TEXT0
=======================================================================
*/

@charset "UTF-8";

/*
=======================================================================
FORMATAÇÃO GLOBAL DA PÁGINA
=======================================================================
*/

* {
    font-family: Arial, Helvetica, sans-serif;
  height: auto;
}

/*
=======================================================================
CONTEUDO DA PAGINA
=======================================================================
*/

body {
  background-image: linear-gradient(to bottom, #324162, #0052c1);
}

/*
=======================================================================
CONTEUDO PRICIPAL DA PÁGINA
=======================================================================
*/

main {
  background-color: white;
  border-radius: 50px;
  box-shadow: 5px 5px 20px #83a7ccab;
  width: 600px;
  padding: 10px;
  margin: auto;
  
}

/*
=======================================================================
TITULOS
=======================================================================
*/

h1 {
    color: #819CB9;
    text-align: center;
    text-shadow: 1px 1px 2px #3c4f64a9;

}

h2{
    color: #b4d0eb;

}

/*
=======================================================================
PARAGRAFO
=======================================================================
*/

p {
  text-align: justify;
}
